@use "@/styles/mixins.scss" as *;

.edit-budget-client {
  .budget-input {
    width: 10ch;

    input {
      padding: 0.6em;
    }
  }

  h2 {
    margin-bottom: 2em;
  }

  form {
    @include grid-gap(1.2em);
  }

  table {
    td,
    th {
      font-size: 14px;
    }

    th {
      padding: 1em 0.1em;
    }

    td {
      padding: 1em 0;
    }
  }
}
