.edit-order-form {
  margin-top: 3em;

  input {
    width: 10ch;
  }

  .modify {
    fieldset {
      border: 1px solid #FFCC00;
    }
  }

  .primary-btn {
    position: fixed;
    left: 100px;
    bottom: 100px;
    width: 40ch;
    z-index: 999;
  }
}
