@use "@/styles/mixins.scss" as *;

.panel {
  display: grid;
  grid-template-columns: 0.2fr 1fr;

  .panel-body {
    padding: 4em 0;
  }

  @include on-mobile {
    grid-template-columns: 1fr;
  }
}
